html {
  height: 100%;
}

body {
  background-image: url('/assets/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-header h1, .page-header small {
  color: #000;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #dd6a58;
  border-color: #dd6a58;
}

.page-header {
  border-color: #dd6a58;
}

a.list-group-item,
button.list-group-item,
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #000;
}

.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.songs .rating {
  color: #aaa;
  font-size: 1.1em;
}

.empty-list {
  min-height: 100px;
  text-align: center;
}

.empty-list .empty-message {
  display: inline-block;
  color: #555;
  line-height: 100px;
}

.band-link .pointer {
  float: right;
  display: none;
}

.band-link.active .pointer {
  display: block;
}

.new-band {
  width: 82%;
}

.new-band-button {
  float: right; padding: 3px 10px;
}

.new-song {
  width: 50%;
}

.new-song-button {
  margin-left: 20px;
}

.rating-panel {
  float: right;
}

a.star-rating {
  color: inherit;
  text-decoration: none;
}

.new-song {
  position: relative;
  top: 1px;
}

.new-song-button {
  padding: 3px 10px;
  margin-left: 15px;
}

.new-song-button, .new-band-button {
  background-color: #dd6a58;
  border-color: #dd6a58;
  transition: transform .3s ease;
}

.new-song-button:hover, .new-band-button:hover {
  transform: scale(1.15);
  transition: transform .3s ease;
  background-color: #dd6a58;
  border-color: #dd6a58;
}

.new-song-button[disabled], .new-band-button[disabled] {
  transform: none;
}

input[type="text"] {
  padding-left: 4px;
  outline: 0;
  box-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #dd6a58 !important;
  border-color: #dd6a58 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
